@{
    ViewData["Title"] = "Ana Sayfa";
}

<div class="text-center">

    <h1 class="display-4">
        IT Knowledge Base
    </h1>

    <p class="lead">
        Bilgi Bankasına Hoş Geldiniz
    </p>

    <hr />

    <a asp-controller="Categories"
       asp-action="Index"
       class="btn btn-primary">

        Kategorileri Yönet

    </a>

    <a asp-controller="Articles"
       asp-action="Index"
       class="btn btn-success">

        Makaleleri Yönet

    </a>

</div>